@using EntityLayer.Concrete
@model List<Category>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@{
    Layout = null;
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Cat Name</th>
        <th>Cat Status</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>

    }
</table>

