
<div class="tech-btm">
    <p>Yeni projeler ve takımlardan anında haber alın.</p>
    <form action="/MailBulteni/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Email">
        <input type="submit" value="Abone Ol">
    </form>

</div>
