
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div id="chartDiv" style="width:800px;height:600px">
            <h3>Burası chart alanı</h3>
        </div>
    </div>
</div>
